interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://misoftware.com.br/Morangos/TmpHTJson
  response:
    body: {string: '[{"Id":1,"dt":"2017-06-15T23:55:16.3","temp":19.1,"hum":72.5},{"Id":2,"dt":"2017-06-16T00:00:16.227","temp":19.2,"hum":72.3},{"Id":3,"dt":"2017-06-16T00:05:16.157","temp":19.2,"hum":71.9},{"Id":4,"dt":"2017-06-16T00:10:16.287","temp":19.2,"hum":71.8},{"Id":5,"dt":"2017-06-16T00:15:51.147","temp":19.3,"hum":72.4},{"Id":6,"dt":"2017-06-16T00:19:52.777","temp":18.9,"hum":68.1},{"Id":7,"dt":"2017-06-16T00:24:52.66","temp":16.6,"hum":74.6},{"Id":8,"dt":"2017-06-16T00:29:52.65","temp":15.7,"hum":78.4},{"Id":9,"dt":"2017-06-16T00:34:52.64","temp":15.4,"hum"[...]
